language: python
python:
  - "2.6"
  - "2.7"
install:
  # Install self (we are required for some of our own dev reqs for now)
  - pip install -e .
  # Install those dev requirements (test runner, etc)
  - pip install -r dev-requirements.txt --use-mirrors
script: "inv test"
notifications:
  irc:
    channels: "irc.freenode.org#invoke"
    on_success: change
    on_failure: change
  email: false
