language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "pypy"
matrix:
  # pypy is frequentlyish unstable on Travis, don't let it mark entire status
  # as 'bad' =/ (Still worth running it though.)
  allow_failures:
    - python: pypy
install:
  # Pre-requirements sanity test (again, resembles pure, non-dev install
  # environment.) Avoids e.g. spec's 'six' from gumming up our attempts to
  # import our vendorized 'six'.
  - pip install -r tasks-requirements.txt
  - inv --list
  # Install remaining dev requirements (test runner, etc)
  - pip install -r dev-requirements.txt
script:
  # Main test suite
  - inv test
  # Slow, annoying-to-run-every-time integration suite
  - inv integration
  # Docs build OK?
  # Jinja2, used by Sphinx, does not work on Python 3.2 (but does on 3.3)
  - "if [[ $TRAVIS_PYTHON_VERSION != '3.2' ]]; then inv docs; fi"
  # Did we break setup.py?
  - pip uninstall -y invoke # To undo the implicit -e install from above
  - pip install . # NO -e!
  - inv -l # Sanity check
notifications:
  irc:
    channels: "irc.freenode.org#invoke"
    template:
      - "%{repository}@%{branch}: %{message} (%{build_url})"
    on_success: change
    on_failure: change
  email: false
