# Docs
# NOTE: sphinx hook is in tasks-requirements.txt
releases>=0.6.1,<2.0
alabaster==0.7.12
# Testing (explicit dependencies to get around a Travis/pip issue)
pytest==4.6.3
pytest-relaxed==1.1.5
pytest-cov==2.5.1
mock==1.0.1
flake8==3.7.8
# Stuff needed for our tasks.py to execute (broken out for ease of CI)
-r tasks-requirements.txt
