# Docs
# NOTE: sphinx hook is in tasks-requirements.txt
releases>=0.6.1,<2.0
alabaster>=0.7.7,<2.0
# Testing (explicit dependencies to get around a Travis/pip issue)
# NOTE: pytest-relaxed currently only works with pytest >=3, <3.3
pytest==3.2.5
pytest-relaxed==1.1.4
pytest-cov==2.5.1
mock==1.0.1
flake8==2.4.0
# Stuff needed for our tasks.py to execute (broken out for ease of CI)
-r tasks-requirements.txt
