include LICENSE
include README.rst
include tasks.py
include pyproject.toml
recursive-include invoke/completion *
recursive-include sites *
recursive-exclude sites/*/_build *
recursive-include * py.typed
recursive-include tests *
recursive-exclude * *.pyc *.pyo
recursive-exclude **/__pycache__ *
