include LICENSE
include README.rst
include tasks.py
recursive-include sites *
recursive-exclude sites/*/_build *
include dev-requirements.txt
include tasks-requirements.txt
recursive-include tests *
recursive-exclude tests *.pyc *.pyo
