version: 2.1


orbs:
  orb: invocations/orb@1.3.1


jobs:
  # Unit+integration tests, with coverage
  coverage:
    executor:
      name: orb/default
      version: "3.9"
    steps:
      - orb/setup
      - run: inv ci.make-sudouser
      - orb/sudo-coverage
      - orb/debug

  regression:
    executor:
      name: orb/default
      version: "3.9"
    steps:
      - orb/setup
      - run: inv regression
      - orb/debug

  doctests:
    executor:
      name: orb/default
      version: "3.9"
    steps:
      - orb/setup
      - run: inv www.doctest
      - orb/debug

  typecheck:
    executor:
      name: orb/default
      version: "3.9"
    steps:
      - orb/setup
      - run: mypy .
      - orb/debug


workflows:
  main:
    jobs:
      - orb/lint:
          name: Lint
      - orb/format:
          name: Style check
      - typecheck:
          name: Types check
      - coverage:
          name: Test
      - regression:
          name: Regression tests
      - orb/test-release:
          name: Release test
      - orb/test:
          name: Test << matrix.version >>
          requires: ["Test"]
          matrix:
            parameters:
              version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
      - orb/docs:
          name: "Docs"
          requires: ["Test"]
      - doctests:
          name: "Doctests"
          requires: ["Docs"]
